*{
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}
.App{
  background: linear-gradient(180deg, #865DFF, #191825);
  font-family: palatino , serif;
}
.app-container{
  margin-left: 15%;
  margin-right: 15%;
}
.page {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 344px){
  .app-container{
    margin: 0;
  } 
 
}









